################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheSortingHat/obj/Release/netcoreapp3.1/RazorDeclaration/Pages
/HogwartsDatabase/HogwartsDatabase.dbmdl
/HogwartsDatabase/HogwartsDatabase.jfm
