.site-title{
    color: rgb(255, 255, 255);  
    margin: 0;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}

.site-introduction{
    color: rgb(255, 255, 255);  
    font-style:italic;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
}

body{
    font-style: normal;
    font-family: 'Roboto';
    margin: 0;
    background-image: url("./1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    color: rgb(241, 243, 147);    
}

.navbar{
    border-style:dotted;
    border-color: rgb(255, 255, 255);
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: auto;
}

.navlist{
    margin: 0;
    padding: 0;
}

.navitem{
    display: inline-block;
    padding: 9px 18px;
}
