{% load static %}
<!DOCTYPE html>
<head>
    <title>Connect SQL Server From Django</title>
    <link rel="stylesheet" type="text/css" href="{% static 'classes.css' %}" media="screen">
</head>
<body>
        <h1 class="site-title">Classes Display</h1>
        <nav class="navbar">
            <ul class="navlist">
                <li class="navitem navlink"><a href="{% url 'index' %}">Home</a></li>
                <li class="navitem navlink"><a href="{% url 'prof' %}">View Professors</a></li>
                <li class="navitem navlink"><a href="{% url 'student' %}">View Students</a></li>
                <li class="navitem navlink"><a href="{% url 'classes' %}">View Classes</a></li>
                <li class="navitem navlink"><a href="{% url 'schedule' %}">View Schedule</a></li>
            </ul>
        </nav>
        <table class="center">
            <tr>
                <th>Class ID</th>
                <th>Name</th>
                <th>Year1Type</th>
                <th>Year2Type</th>
                <th>Year3Type</th>
                <th>Year4Type</th>
                <th>Year5Type</th>
                <th>Year6Type</th>
                <th>Year7Type</th>
                <th>Location</th>
                <th>Max Capacity</th>
                <th>Number of Houses</th>

            </tr>
            {% for datadisplay in classessqlserverconn %}
            <tr>
                <td>{{datadisplay.ClassId}}</td>
                <td>{{datadisplay.Name}}</td>
                <td>{{datadisplay.Year1Type}}</td>
                <td>{{datadisplay.Year2Type}}</td>
                <td>{{datadisplay.Year3Type}}</td>
                <td>{{datadisplay.Year4Type}}</td>
                <td>{{datadisplay.Year5Type}}</td>
                <td>{{datadisplay.Year6Type}}</td>
                <td>{{datadisplay.Year7Type}}</td>
                <td>{{datadisplay.Location}}</td>
                <td>{{datadisplay.MaxCapacity}}</td>
                <td>{{datadisplay.NumberofHouses}}</td>
                <td class="delete"><a href="/delete/{{datadisplay.ClassId}}">Delete</a></td>

            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'classesAdd' %}">Add Classes</a>
</body>
