{% load static %}
<!DOCTYPE html>
<head>
    <title>ClassDelete</title>
    <link rel="stylesheet" type="text/css" href="{% static 'profAdd.css' %}" media="screen">
</head>
<body>
    <table class="center">
        <h1 class="site-title">Class Delete</h1>
        <nav class="navbar">
            <ul class="navlist">
              <li class="navitem navlink"><a href="{% url 'index' %}">Home</a></li>
              <li class="navitem navlink"><a href="{% url 'prof' %}">Professors</a></li>
              <li class="navitem navlink"><a href="{% url 'student' %}">Students<a></li>
              <li class="navitem navlink"><a href="{% url 'classes' %}">Classes</a></li>
              <li class="navitem navlink"><a href="{% url 'schedule' %}">View Schedule</a></li>
            </ul>
          </nav>
        </br>
		<p>Are you sure you want to delete the class?</p>
        <form action="/classDelete/{{item}}" method="POST">
            {% csrf_token %}
           
		    <a href="{% url 'classes' %}">Cancel</a>
		   
            <input type="submit" value="Confirm" onclick="return alert('Class Deleted')" />
         </form>
        </table>

</body>
