{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hogwarts Classes</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" media="screen">

  </head>

  <body class="backg">
    <header>
      <h1 class="site-title"><i class="fa fa-magic"></i>Hogwarts School of Witchcraft & Wizardry</h1>
      <h2 class="site-introduction">Welcome to Hogwarts School of Witchcraft & Wizardry. The feast is about to begin in the Great Hall where the Sorting Ceremony will take place. Please wait here in the Entrance Hall while I announce you...</h2>
      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink" ><a href="{% url 'index' %}">Home</a></li>
          <li class="navitem navlink"><a href="{% url 'prof' %}">View Professors</a></li>
          <li class="navitem navlink"><a href="{% url 'student' %}">View Students<a></li>
          <li class="navitem navlink"><a href="{% url 'classes' %}">View Classes</a></li>
          <li class="navitem navlink"><a href="{% url 'schedule' %}">View Schedule</a></li>
        </ul>
      </nav>
    </header>
    <main class="home-page">
        <article class="block">
          <div class="block-content">
            <p class="block-title">
              Discussion Board
            </p>
            <p class="block-text">
              Chat freely with your classmates here.
            </p>
            <button class="fake">
              Enter
            </button>
          </div>
        </article>   

        <article class="block">
          <div class="block-content">
            <p class="block-title">
              Introduction
            </p>
            <p class="block-text">
              See the introduction of each course and start preparing ahead of time.
            </p>
            <button class="fake">
              Enter
            </button>
          </div>
        </article>
        
        <article class="block">
          <div class="block-content">
            <p class="block-title">
              Comment
            </p>
            <p class="block-text">
              Leave a comment about your class and what you think of the professor. The section is anonymous, and no one will see your username.
            </p>
            <button class="fake">
              Enter
            </button>
          </div>
        </article>  

        <article class="block">
          <div class="block-content">
            <p class="block-title">
              New
            </p>
            <p class="block-text">
              Here's the latest news from the school!
            </p>
            <button class="fake">
              Enter
            </button>
          </div>
        </article>  

        <article class="block">
          <div class="block-content">
            <p class="block-title">
              Announcement
            </p>
            <p class="block-text">
              Here's the announcement from the school, please check frequently.
            </p>
            <button class="fake">
              Enter
            </button>
          </div>
        </article> 

    </main>
  </body>
</html>
