{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hogwarts Classes</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" media="screen">

  </head>

  <body class="backg">
    <header>
		<div class="titleContainer">
			<div class="titleCenter">
				<h1 class="site-title"><i class="fa fa-magic"></i>Hogwarts School of Witchcraft & Wizardry</h1>
			</div>
		</div>
      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink" ><a href="{% url 'index' %}">Home</a></li>
          <li class="navitem navlink"><a href="{% url 'prof' %}">Professors</a></li>
          <li class="navitem navlink"><a href="{% url 'student' %}">Students<a></li>
          <li class="navitem navlink"><a href="{% url 'classes' %}">Classes</a></li>
        </ul>
      </nav>
    </header>
    <main class="home-page">

		<div class="buttonContainer">
			<div class="buttonCenter">
				<a class="myButton" href="{% url 'schedule' %}">Generate Schedule</a>
			</div>
		</div>

    </main>
  </body>
</html>
