<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hogwarts Instructor Schedule</title>
  <link rel="stylesheet" type="text/css" href="main.css">

</head>

<body>
  <!-- menu bar -->
  <a href="index.html">Home</a>
  <a href="studentsched.html">Student Schedule</a>
  <a href="instructorsched.html">Instructor Schedule</a>
  <a href="studentlist.html">Student List</a>
  <a href="instructorlist.html">Instructor List</a>
  <a href="classlist.html">Class List</a>

  <div>
    <h2>
      Snape (Potions)
    </h2>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Period</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Year 1 GS</td>
        <td>Year 1 HR</td>
        <td></td>
        <td>Year 1 GS</td>
        <td>Year 1 HR</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Year 2 GS</td>
        <td>Year 2 HR</td>
        <td></td>
        <td>Year 2 GS</td>
        <td>Year 2 HR</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Year 3 GS</td>
        <td>Year 3 HR</td>
        <td></td>
        <td>Year 3 GS</td>
        <td>Year 3 HR</td>
      </tr>
      <tr>
        <th>4</th>
        <td>Year 4 GS</td>
        <td>Year 4 HR</td>
        <td></td>
        <td>Year 4 GS</td>
        <td>Year 4 HR</td>
      </tr>
      <tr>
        <th>5</th>
        <td>Year 5 GS</td>
        <td>Year 5 HR</td>
        <td></td>
        <td>Year 5 GS</td>
        <td>Year 5 HR</td>
      </tr>
      <tr>
        <th>6</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Other</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div>
    <h2>
      McGonagall (Transfiguration)
    </h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Period</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>2</th>
        <td>Year 1 GR</td>
        <td>Year 1 SH</td>
        <td></td>
        <td>Year 1 GR</td>
        <td>Year 1 SH</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Year 2 GR</td>
        <td>Year 2 SH</td>
        <td></td>
        <td>Year 2 GR</td>
        <td>Year 2 SH</td>
      </tr>
      <tr>
        <th>4</th>
        <td>Year 3 GR</td>
        <td>Year 3 SH</td>
        <td></td>
        <td>Year 3 GR</td>
        <td>Year 3 SH</td>
      </tr>
      <tr>
        <th>5</th>
        <td>Year 4 GR</td>
        <td>Year 4 SH</td>
        <td></td>
        <td>Year 4 GR</td>
        <td>Year 4 SH</td>
      </tr>
      <tr>
        <th>6</th>
        <td>Year 5 GR</td>
        <td>Year 5 SH</td>
        <td></td>
        <td>Year 5 GR</td>
        <td>Year 5 SH</td>
      </tr>
      <tr>
        <th>Other</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div>
    <h2?>
      TBD (Defense Against the Dark Arts)
      </h2>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Period</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>3</th>
        <td>Year 1 SR</td>
        <td>Year 1 GH</td>
        <td></td>
        <td>Year 1 SR</td>
        <td>Year 1 GH</td>
      </tr>
      <tr>
        <th>4</th>
        <td>Year 2 SR</td>
        <td>Year 2 GH</td>
        <td></td>
        <td>Year 2 SR</td>
        <td>Year 2 GH</td>
      </tr>
      <tr>
        <th>5</th>
        <td>Year 3 SR</td>
        <td>Year 3 GH</td>
        <td></td>
        <td>Year 3 SR</td>
        <td>Year 3 GH</td>
      </tr>
      <tr>
        <th>6</th>
        <td>Year 4 SR</td>
        <td>Year 4 GH</td>
        <td></td>
        <td>Year 4 SR</td>
        <td>Year 4 GH</td>
      </tr>
      <tr>
        <th>Other</th>
        <td>Year 5 SR</td>
        <td>Year 5 GH</td>
        <td></td>
        <td>Year 5 SR</td>
        <td>Year 5 GH</td>
      </tr>
    </tbody>
  </table>

  <div>
    <h2>
      Brinns (History of Magic)
    </h2>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Period</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Year 5 RS</td>
        <td>Year 5 GH</td>
        <td></td>
        <td>Year 5 RS</td>
        <td>Year 5 GH</td>
      </tr>
      <tr>
        <th>2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>4</th>
        <td>Year 1 RS</td>
        <td>Year 1 GH</td>
        <td></td>
        <td>Year 1 RS</td>
        <td>Year 1 GH</td>
      </tr>
      <tr>
        <th>5</th>
        <td>Year 2 RS</td>
        <td>Year 2 GH</td>
        <td></td>
        <td>Year 2 RS</td>
        <td>Year 2 GH</td>
      </tr>
      <tr>
        <th>6</th>
        <td>Year 3 RS</td>
        <td>Year 3 GH</td>
        <td></td>
        <td>Year 3 RS</td>
        <td>Year 3 GH</td>
      </tr>
      <tr>
        <th>Other</th>
        <td>Year 4 RS</td>
        <td>Year 4 GH</td>
        <td></td>
        <td>Year 4 RS</td>
        <td>Year 4 GH</td>
      </tr>
    </tbody>
  </table>

  <div>
    <h2>
      Sprout (Herbology)
      </button>
    </h2>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Period</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Year 3 GH</td>
        <td>Year 3 SR</td>
        <td></td>
        <td>Year 3 GH</td>
        <td>Year 3 SR</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Year 4 GH</td>
        <td>Year 4 SR</td>
        <td></td>
        <td>Year 4 GH</td>
        <td>Year 4 SR</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Year 5 GH</td>
        <td>Year 5 SR</td>
        <td></td>
        <td>Year 5 GH</td>
        <td>Year 5 SR</td>
      </tr>
      <tr>
        <th>4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>5</th>
        <td>Year 1 GH</td>
        <td>Year 1 SR</td>
        <td></td>
        <td>Year 1 GH</td>
        <td>Year 1 SR</td>
      </tr>
      <tr>
        <th>6</th>
        <td>Year 2 GH</td>
        <td>Year 2 SR</td>
        <td></td>
        <td>Year 2 GH</td>
        <td>Year 2 SR</td>
      </tr>
      <tr>
        <th>Other</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div>
    <h2>
      Flitwick (Charms)
    </h2>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Period</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Year 2 GR</td>
        <td>Year 2 SH</td>
        <td></td>
        <td>Year 2 GR</td>
        <td>Year 2 SH</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Year 3 GR</td>
        <td>Year 3 SH</td>
        <td></td>
        <td>Year 3 GR</td>
        <td>Year 3 SH</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Year 4 GR</td>
        <td>Year 4 SH</td>
        <td></td>
        <td>Year 4 GR</td>
        <td>Year 4 SH</td>
      </tr>
      <tr>
        <th>4</th>
        <td>Year 5 GR</td>
        <td>Year 5 SH</td>
        <td></td>
        <td>Year 5 GR</td>
        <td>Year 5 SH</td>
      </tr>
      <tr>
        <th>5</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>6</th>
        <td>Year 1 GR</td>
        <td>Year 1 SH</td>
        <td></td>
        <td>Year 1 GR</td>
        <td>Year 1 SH</td>
      </tr>
      <tr>
        <th>Other</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div>
    <h2>
      Hooch (Flying)
    </h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Period</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>5</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>6</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Other</th>
        <td>Year 2</td>
        <td>Year 3</td>
        <td>Year 4</td>
        <td>Year 5</td>
        <td>Year 1</td>
      </tr>
    </tbody>
  </table>
  </div>
</body>

</html>