<!DOCTYPE html>
<head>
    <title>Professor</title>
</head>
<body>
    <center>
        <h1>Professor Display</h1>
        <hr/>
        <a href="{% url 'index' %}">Home<a/>
        <a href="{% url 'prof' %}">View Professors<a/>
        <a href="{% url 'student' %}">View Students<a/>
        <a href="{% url 'classes' %}">View Classes<a/>
        <a href="{% url 'schedule' %}">View Schedule<a/>
        <table border="1">
            <tr>
                <th>Prof ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Active</th>
            </tr>
            {% for datadisplay in profsqlserverconn %}
            <tr>
                <td>{{datadisplay.ProfessorID}}</td>
                <td>{{datadisplay.LastName}}</td>
                <td>{{datadisplay.FirstName}}</td>
                <td>{{datadisplay.Active}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>