{% load static %}
<!DOCTYPE html>
<head>
    <title>Professor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'professor.css' %}" media="screen">
</head>
<body>        
    <h1 class="site-title">Professor Display</h1>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink"><a href="{% url 'index' %}">Home</a></li>
            <li class="navitem navlink"><a href="{% url 'prof' %}">View Professors</a></li>
            <li class="navitem navlink"><a href="{% url 'student' %}">View Students</a></li>
            <li class="navitem navlink"><a href="{% url 'classes' %}">View Classes</a></li>
            <li class="navitem navlink"><a href="{% url 'schedule' %}">View Schedule</a></li>
        </ul>
    </nav>
        <table class="center">
            <tr>
                <th>Professor ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Active</th>
            </tr>
            {% for datadisplay in profsqlserverconn %}
            <tr>
                <td>{{datadisplay.ProfessorID}}</td>
                <td>{{datadisplay.LastName}}</td>
                <td>{{datadisplay.FirstName}}</td>
                <td>{{datadisplay.Active}}</td>
                <td><a href="/proffesor/delete/{{datadisplay.ProfessorID}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'profAdd' %}">Add Professor</a>
</body>
