{% load static %}
<!DOCTYPE html>
<head>
    <title>Professor</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'professor.css' %}" media="screen">
</head>
<body>        
    <header>
		<div class="titleContainer">
			<div class="titleCenter">
				<h1 class="site-title"><i class="fa fa-magic"></i>Hogwarts School of Witchcraft & Wizardry</h1>
			</div>
		</div>
      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink" ><a href="{% url 'index' %}">Home</a></li>
          <li class="navitem navlink"><a href="{% url 'prof' %}">Professors</a></li>
          <li class="navitem navlink"><a href="{% url 'student' %}">Students<a></li>
          <li class="navitem navlink"><a href="{% url 'classes' %}">Classes</a></li>
        </ul>
      </nav>
    </header>
    <button class="button">
        <a href="{% url 'profAdd' %}">Add Professor</a>
    </button>
        <table class="center">
            <tr>
                <th>Professor ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Active</th>
            </tr>
            {% for datadisplay in profsqlserverconn %}
            <tr>
                <td>{{datadisplay.ProfessorID}}</td>
                <td>{{datadisplay.LastName}}</td>
                <td>{{datadisplay.FirstName}}</td>
                <td>{{datadisplay.Active}}</td>
                <td><a href="/profDelete/{{datadisplay.ProfessorID}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
</body>
