<!DOCTYPE html>
<head>
    <title>ProfessorAdd</title>
</head>
<body>
    <center>
        <h1>Professor Add</h1>
        <hr/>
        <a href="{% url 'index' %}">Home<a/>
        <a href="{% url 'prof' %}">View Professors<a/>
        <a href="{% url 'student' %}">View Students<a/>
        <a href="{% url 'classes' %}">View Classes<a/>
        <a href="{% url 'schedule' %}">View Schedule<a/>
        </br>
        <form method="POST">
            {% csrf_token %}
            <table border ="1">
                <tr>
                    <td> Last Name</td>
                    <td><input type="text" placeholder="Professor Last Name .." name="LastName"
                </tr>
                <tr>
                    <td>First Name</td>
                    <td><input type="text" placeholder="Professor First  Name .." name="FirstName"
                </tr>
                <tr>
                    <td>Active</td>
                    <td><input type="text" placeholder="Professor Active .." name="Active"
                </tr>
            </table>
            <input type="submit" value="Submit" onclick="return alert('Professor Added')" />
         </form>
    </center>

</body>