<!DOCTYPE html>
<head>
    <title>ProfessorDel</title>
</head>
<body>
    <center>
        <h1>Professor Delete</h1>
        <hr/>
        <a href="{% url 'index' %}">Home<a/>
        <a href="{% url 'prof' %}">View Professors<a/>
        <a href="{% url 'student' %}">View Students<a/>
        <a href="{% url 'classes' %}">View Classes<a/>
        <a href="{% url 'schedule' %}">View Schedule<a/>
        </br>
        <form method="POST">
            {% csrf_token %}
            <h2>Are you sure you want to delete "{{ object.title }}?</h2>
            <button type="submit">Yes, Delete</button>
            <a href="{% url 'prof' %}">No <a/>
        </form>
    </center>

</body>