{% load static %}
<!DOCTYPE html>
<head>
    <title>Professor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'schedule.css' %}" media="screen">
</head>
    <h1 class="site-title">Scheduled Classes</h1>
        <nav class="navbar">
            <ul class="navlist">
                <li class="navitem navlink"><a href="{% url 'index' %}">Home</a></li>
                <li class="navitem navlink"><a href="{% url 'prof' %}">View Professors</a></li>
                <li class="navitem navlink"><a href="{% url 'student' %}">View Students</a></li>
                <li class="navitem navlink"><a href="{% url 'classes' %}">View Classes</a></li>
                <li class="navitem navlink"><a href="{% url 'schedule' %}">View Schedule</a></li>
            </ul>
        </nav>
        <table class="center">
            <tr>
                <th>ScheduledClassID</th>
                <th>ProfessorClassID</th>
                <th>HouseID</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>StartTime</th>
                <th>DaysoftheWeek</th>
                <th>Year</th>
                <th>MaxOccupancy</th>
                <th>Occupancy</th>
                <th>RemainingSpots</th>
                <th>Location</th>
            </tr>
            {% for datadisplay in profsqlserverconn %}
            <tr>
                <td>{{datadisplay.ScheduledClassID}}</td>
                <td>{{datadisplay.ProfessorClassID}}</td>
                <td>{{datadisplay.HouseID}}</td>
                <td>{{datadisplay.StartTime}}</td>
                <td>{{datadisplay.EndTime}}</td>
                <td>{{datadisplay.DaysoftheWeek}}</td>
                <td>{{datadisplay.Year}}</td>
                <td>{{datadisplay.MaxOccupancy}}</td>
                <td>{{datadisplay.Occupancy}}</td>
                <td>{{datadisplay.RemainingSpots}}</td>
                <td>{{datadisplay.Location}}</td>
                
            </tr>
            {% endfor %}
        </table>
</body>
