{% load static %}
<!DOCTYPE html>
<head>
    <title>Student</title>
    <link rel="stylesheet" type="text/css" href="{% static 'student.css' %}" media="screen">
</head>

<body>
    <h1 class="site-title">Student Display</h1>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink"><a href="{% url 'index' %}">Home</a></li>
            <li class="navitem navlink"><a href="{% url 'prof' %}">View Professors</a></li>
            <li class="navitem navlink"><a href="{% url 'student' %}">View Students</a></li>
            <li class="navitem navlink"><a href="{% url 'classes' %}">View Classes</a></li>
            <li class="navitem navlink"><a href="{% url 'schedule' %}">View Schedule</a></li>
        </ul>
    </nav>
        </br>
        <table class="center">
            <tr>
                <th>Student ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Year</th>
                <th>HouseID</th>
                <th>Elective 1ar</th>
                <th>Elective 2</th>
            </tr>
            {% for datadisplay in studentsqlserverconn %}
            <tr>
                <td>{{datadisplay.StudentID}}</td>
                <td>{{datadisplay.LastName}}</td>
                <td>{{datadisplay.FirstName}}</td>
                <td>{{datadisplay.HouseID}}</td>
                <td>{{datadisplay.Year}}</td>
                <td>{{datadisplay.ElectiveOneID}}</td>
                <td>{{datadisplay.ElectiveOTwoID}}</td>
                <td><a href="/delete/{{datadisplay.StudentID}}">Delete</a></td>
                
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'studentAdd' %}">Add Student</a>
</body>
