{% load static %}
<!DOCTYPE html>
<head>
    <title>Professor</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'schedule.css' %}" media="screen">
</head>
     <header>
		<div class="titleContainer">
			<div class="titleCenter">
				<h1 class="site-title"><i class="fa fa-magic"></i>Hogwarts School of Witchcraft & Wizardry</h1>
			</div>
		</div>
      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink" ><a href="{% url 'index' %}">Home</a></li>
          <li class="navitem navlink"><a href="{% url 'prof' %}">Professors</a></li>
          <li class="navitem navlink"><a href="{% url 'student' %}">Students</a></li>
          <li class="navitem navlink"><a href="{% url 'classes' %}">Classes</a></li>
        </ul>
      </nav>
    </header>
	
		<div id="buttonContainer" class="buttonContainer">
			<div class="buttonCenter">
				<ul class="buttonList">
					<li class="buttonYears">
						<button id="b1" onclick="showTable(1)" class="myButton" type="button">Year 1</button>
					</li>
					<li class="buttonYears">
						<button id="b2" onclick="showTable(2)" class="myButton" type="button">Year 2</button>
					</li>
					<li class="buttonYears">
						<button id="b3" onclick="showTable(3)" class="myButton" type="button">Year 3</button>
					</li>
					<li class="buttonYears">
						<button id="b4" onclick="showTable(4)" class="myButton" type="button">Year 4</button>
					</li>
					<li class="buttonYears">
						<button id="b5" onclick="showTable(5)" class="myButton" type="button">Year 5</button>
					</li>
				</ul>
			</div>
		</div>
		
		<script>
		
			function hideTables() {
				var t1 = document.getElementById("t1");
				var t2 = document.getElementById("t2");
				var t3 = document.getElementById("t3");
				var t4 = document.getElementById("t4");
				var t5 = document.getElementById("t5");
				
				t1.style.display = "none";
				t2.style.display = "none";
				t3.style.display = "none";
				t4.style.display = "none";
				t5.style.display = "none";
			};
		
			function showTable(num) {
				hideTables();
				
				var y = document.getElementById("t" + num.toString());
				
				y.style.display = "block";
			};
		
		</script>
		
		
		<div class="tableCenter">
			<table id="t1" class="center">
				<tr>
					<th>Professor</th>
					<th>Class</th>
					<th>House</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Days</th>
					<th>Year</th>
				</tr>
				{% for datadisplay in year1 %}
				<tr>
					<td>{{datadisplay.Professor}}</td>
					<td>{{datadisplay.Class}}</td>
					<td>{{datadisplay.House}}</td>
					<td>{{datadisplay.StartTime}}</td>
					<td>{{datadisplay.EndTime}}</td>
					<td>{{datadisplay.DaysoftheWeek}}</td>
					<td>{{datadisplay.Year}}</td>
					
				</tr>
				{% endfor %}
			</table>
			
			<table id="t2" class="center">
				<tr>
					<th>Professor</th>
					<th>Class</th>
					<th>House</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Days</th>
					<th>Year</th>
				</tr>
				{% for datadisplay in year2 %}
				<tr>
					<td>{{datadisplay.Professor}}</td>
					<td>{{datadisplay.Class}}</td>
					<td>{{datadisplay.House}}</td>
					<td>{{datadisplay.StartTime}}</td>
					<td>{{datadisplay.EndTime}}</td>
					<td>{{datadisplay.DaysoftheWeek}}</td>
					<td>{{datadisplay.Year}}</td>
					
				</tr>
				{% endfor %}
			</table>
			
			<table id="t3" class="center">
				<tr>
					<th>Professor</th>
					<th>Class</th>
					<th>House</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Days</th>
					<th>Year</th>
				</tr>
				{% for datadisplay in year3 %}
				<tr>
					<td>{{datadisplay.Professor}}</td>
					<td>{{datadisplay.Class}}</td>
					<td>{{datadisplay.House}}</td>
					<td>{{datadisplay.StartTime}}</td>
					<td>{{datadisplay.EndTime}}</td>
					<td>{{datadisplay.DaysoftheWeek}}</td>
					<td>{{datadisplay.Year}}</td>
					
				</tr>
				{% endfor %}
			</table>
			
			<table id="t4" class="center">
				<tr>
					<th>Professor</th>
					<th>Class</th>
					<th>House</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Days</th>
					<th>Year</th>
				</tr>
				{% for datadisplay in year4 %}
				<tr>
					<td>{{datadisplay.Professor}}</td>
					<td>{{datadisplay.Class}}</td>
					<td>{{datadisplay.House}}</td>
					<td>{{datadisplay.StartTime}}</td>
					<td>{{datadisplay.EndTime}}</td>
					<td>{{datadisplay.DaysoftheWeek}}</td>
					<td>{{datadisplay.Year}}</td>
					
				</tr>
				{% endfor %}
			</table>
			
			<table id="t5" class="center">
				<tr>
					<th>Professor</th>
					<th>Class</th>
					<th>House</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Days</th>
					<th>Year</th>
				</tr>
				{% for datadisplay in year5 %}
				<tr>
					<td>{{datadisplay.Professor}}</td>
					<td>{{datadisplay.Class}}</td>
					<td>{{datadisplay.House}}</td>
					<td>{{datadisplay.StartTime}}</td>
					<td>{{datadisplay.EndTime}}</td>
					<td>{{datadisplay.DaysoftheWeek}}</td>
					<td>{{datadisplay.Year}}</td>
					
				</tr>
				{% endfor %}
			</table>
			
		</div>
		
		
</body>
