{% load static %}
<!DOCTYPE html>
<head>
    <title>StudentDelete</title>
    <link rel="stylesheet" type="text/css" href="{% static 'profAdd.css' %}" media="screen">
</head>
<body>
    <table class = "center">
        <h1 class="site-title">Student Delete</h1>
        <nav class="navbar">
            <ul class="navlist">
              <li class="navitem navlink"><a href="{% url 'index' %}">Home</a></li>
              <li class="navitem navlink"><a href="{% url 'prof' %}">Professors</a></li>
              <li class="navitem navlink"><a href="{% url 'student' %}">Students<a></li>
              <li class="navitem navlink"><a href="{% url 'classes' %}">Classes</a></li>
              <li class="navitem navlink"><a href="{% url 'schedule' %}">View Schedule</a></li>
            </ul>
        </nav>
		<p>Are you sure you want to delete the student?</p>
        <form action="/studentDelete/{{item}}" method="POST">
            {% csrf_token %}
           
		    <a href="{% url 'student' %}">Cancel</a>
		   
            <input type="submit" value="Confirm" onclick="return alert('Student Deleted')" />
         </form>
    </table>

</body>
