.site-title{
    color: rgb(0, 0, 0);  
    margin: 0;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}

.site-introduction{
    color: rgb(0, 0, 0);  
    font-style:italic;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
}

.titleContainer {
  height: 100px;
  position: relative;
}

.titleCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.subtitleCenter {
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body{
    font-style: normal;
    font-family: 'Roboto';
    background-color: rgb(215, 215, 215);
}

a{
    color:rgb(140, 140, 140);
    font-weight: bold;
}

a:hover{
    color: rgb(0, 0, 0); 
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
	
}

.navbar{
    border-style:dotted;
    border-color: rgb(0, 0, 0);
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 10px;
	height: 50px;
    position: relative;
}

.navlist{
    position: absolute;
	top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
}

.navitem{
    display: inline-block;
    padding: 9px 18px;
}

.myButton {
	box-shadow: 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:3px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:19px 54px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.block-container{
    background-color: rgb(215, 215, 215);
    margin: 0;
    border: 0;
    padding: 140px;
    padding-top: 35px;
    padding-bottom: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 75%;
}

.block{
    border-radius: 0%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    margin: 10px;
    padding: 15px;
    min-width: 180px;
    max-width: 25%;
    display: inline-flex;
    background-color: rgb(233, 230, 230);
    border-style:dotted;
    border-color: rgb(0, 0, 0);
}


.block-title{
    text-indent: 50px;
    text-decoration: underline;
    font-weight: bold;
}

.block-content{
    text-indent: 50px;
}

.fake{
    font-size: 16px;
    position:bottom;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.fake:hover {
    background-color: #e7e7e7;
}

.buttonContainer {
  height: 100px;
  position: relative;
}

.buttonCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
