.site-title{
    color: rgb(0, 0, 0);  
    margin: 0;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}

.site-introduction{
    color: rgb(0, 0, 0);  
    font-style:italic;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
}

.titleContainer {
  height: 100px;
  position: relative;
}

.titleCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.subtitleCenter {
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body{
    font-style: normal;
    font-family: 'Roboto';
    background-color: rgb(215, 215, 215);
}

a{
    color: rgb(140, 140, 140);
    font-weight: bold;
}

a:hover{
    color: rgb(0, 0, 0); 
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
	
}

.table,th,td{
    border: 1px solid black;
    color: rgb(0, 0, 0);
    position:middle;
    margin: 30px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

.navbar{
    border-style:dotted;
    border-color: rgb(0, 0, 0);
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 10px;
	height: 50px;
    position: relative;
}

.navlist{
    position: absolute;
	top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
}

.navitem{
    display: inline-block;
    padding: 9px 18px;
}

.button{
    font-size: 16px;
    position:fixed;
    right:10px;
    bottom:10px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button:hover{
    background-color: #e7e7e7;
}
