.site-title{
    color: rgb(0, 0, 0);  
    margin: 0;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}

.site-introduction{
    color: rgb(0, 0, 0);  
    font-style:italic;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
}

.titleContainer {
  height: 100px;
  position: relative;
}

.titleCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.subtitleCenter {
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body{
    font-style: normal;
    font-family: 'Roboto';
    background-color: rgb(215, 215, 215);
}

a{
    color: rgb(140, 140, 140);
    font-weight: bold;
}

a:hover{
    color: rgb(0, 0, 0); 
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
	
}

#t1 {
	display: none;
}

#t2 {
	display: none;
}

#t3 {
	display: none;
}

#t4 {
	display: none;
}

#t5 {
	display: none;
}

.table,th,td{
    border: 1px solid black;
    color: rgb(0, 0, 0);
    position:middle;
    margin: 30px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

.navbar{
    border-style:dotted;
    border-color: rgb(0, 0, 0);
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 10px;
	height: 50px;
    position: relative;
}

.navlist{
    position: absolute;
	top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
}

.navitem{
    display: inline-block;
    padding: 9px 18px;
}

.buttonContainer {
  height: 100px;
  position: relative;
}

.buttonCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.buttonList li {
  float: left;
  list-style: none;
  text-align: center;
  background-color: #000000;
  margin-right: 30px;
  width: 150px;
  line-height: 60px;
}

.myButton {
	box-shadow: 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:3px;
	border:2px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:19px 54px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.tableCenter {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}